@import './mixin.scss';
@import './colors.scss';
@import './searchBar.scss';
@import './recentPosts.scss';
@import './home.scss';
@import './results.scss';

.home {
    @include default-page-layout();                                   
}
 
.results {
    @include default-page-layout(); 
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.post-topic {
    margin: 0 4px;
}

.logo-main {
    display: grid;
    justify-content: center;  
}

.recent-posts  {
    display: grid;
    justify-content: center;  
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}





